@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&family=Karla:wght@300&family=Noto+Sans:ital@1&family=Oswald&family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #282C34;
    max-width: 100%;
}


/* navigation bar */

.banner-section {}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 16px;
    padding: 0 10px;
}

nav a:hover {
    font-size: 22px;
    color: aquamarine;
}


/* navigation bar end */


/* banner style */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left {
    width: 40%;
}

.banner-right {
    width: 40%;
}

.banner-had {
    margin-bottom: 20px;
}

.banner-had :nth-child(1) {
    color: aqua;
    font-size: 38px;
    line-height: 2;
}

.banner-had :nth-child(2) {
    color: aquamarine;
    font-size: 40px;
}

.banner-text {
    font-size: 18px;
    color: rgb(159, 226, 204);
    line-height: 1.5;
    text-align: justify;
}

.had-btn {
    width: 120px;
    height: 40px;
    margin-top: 20px;
}

.had-btn a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(21, 221, 154);
    font-size: 16px;
    border: none;
}

.had-btn:hover {
    background-color: rgb(149, 149, 149);
    border: none;
}

.banner-img {
    margin-left: 130px;
}

.banner-img img {
    width: 600px;
    height: 600px;
}


/* banner style end */

footer {
    width: 80%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 280px;
    left: 350px;
}

.left-footer {
    width: 40%;
}

.left-footer ul {
    font-size: 16px;
    color: rgb(216, 214, 214);
    line-height: 1.5;
}

.right-footer {
    width: 40%;
}

.right-footer .fab {
    font-size: 32px;
    color: rgb(159, 226, 204);
    margin: 0 15px;
}

.fab:hover {
    color: aqua;
    font-size: 38px;
    transition: font-size .5s;
}

.middle-footer {
    position: absolute;
    right: 800px;
    top: 150px;
}

.middle-footer p {
    color: rgb(216, 214, 214);
    font-size: 14px;
}

.banner-section-2 {
    width: 70%;
}

.banner-img-2 {
    position: relative;
    top: 100px;
    left: 430px;
}

.banner-img-2 img {
    width: 1000px;
}

.banner-img2-text {
    width: 70%;
    position: relative;
    top: 300px;
    left: 100px;
    visibility: hidden;
}

.banner-img2-text p {
    font-weight: bold;
    font-size: 62px;
    color: #fff;
}

.banner-img-2:hover .banner-img2-text {
    visibility: visible;
}

.banner-img-2 :hover {
    opacity: 0.3;
}


/* about section */

.about-section {
    width: 60%;
}

.about-img {
    position: relative;
    left: 720px;
    top: 80px;
}

.about-text {
    position: relative;
    left: 400px;
    top: 130px;
}

.about-text h1 {
    color: aqua;
    font-size: 30px;
    line-height: 2;
}

.about-text p {
    color: rgb(159, 226, 204);
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.about-btn {
    width: 120px;
    height: 40px;
    background-color: #000;
    margin-top: 15px;
    border: none;
}

.about-btn a {
    color: rgb(159, 226, 204);
    font-size: 16px;
    text-decoration: none;
}

.about-btn:hover {
    background-color: #99978A;
    width: 130px;
    transition: width .2s;
}

.about-table {
    position: relative;
    left: 600px;
    top: 180px;
    padding: 100px 0;
}

.about-table table {
    width: 600px;
    height: 250px;
}

table,
th,
td {
    border: 2px solid rgb(158, 156, 156);
    border-collapse: collapse;
}

th,
td {
    text-align: center;
}

th {
    color: rgb(159, 226, 204);
    font-weight: bold;
    font-size: 20px;
}

td {
    color: rgb(157, 207, 191);
    font-size: 18px;
}


/* about section end */


/* gallery section  */

.gallery-section {
    position: relative;
    top: 150px;
}

.gallery-section h1 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: aqua;
}

.gallery-img {
    position: relative;
    width: 80%;
    top: 80px;
    left: 280px;
    padding: 0 10px;
}

.gallery-img img {
    padding: 0 10px;
}

.gallery-video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120px;
}

.gallery-video iframe {
    margin: 200px 50px;
}


/* gallery section end */

.contac-section {
    width: 50%;
    position: relative;
    left: 500px;
    top: 150px;
    padding: 40px 0;
}

.contac-section h1 {
    font-size: 40px;
    color: rgb(157, 207, 191);
}

label {
    color: rgb(157, 207, 191);
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #9DCFBF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}